/* 背景色 */
.anchor-pane {
    -fx-background-color: #6c8ab7;
}

/* 按钮通用样式 */
.button {
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 8 20;
}

/* 加入愿望单按钮 */
#wishlistButton {
    -fx-background-color: #5dade2;
    -fx-text-fill: white;
}

/* 购买按钮 */
#buyButton {
    -fx-background-color: #28b463;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* 评论列表样式 */
.list-view {
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}
